<!-- <ion-header-bar align-title="center" class="bar-positive" ng-style="{'background-color': '#57A50B'}">
  <h1 class="title">Live-junat</h1>
</ion-header-bar> -->
<ion-view view-title="Valitse juna">
  <ion-content class="has-header bg-light-grey content">

    <p class="sub-header medium vr-grey">Asemat</p>
    <div class="box shadow">
      <md-autocomplete
        md-search-text-change="filterStations(stationInput)"
        md-search-text="stationInput"
        md-selected-item="selectedStation"
        md-selected-item-change="selectedStationChange(selectedStation)"
        md-items="station in stations"
        md-item-text="station.stationName"
        md-min-length="0"
        placeholder="Aseman nimi">
      <md-item-template>
        <span
          md-highlight-text="stationInput"
          md-highlight-flags="^i">{{station.stationName}}
        </span>
      </md-item-template>
      <md-not-found>
        Asemaa ei löytynyt hakusanalla <b>{{stationInput}}</b>
      </md-not-found>
    </md-autocomplete>
    <md-button class="md-raised" ng-click="selectedStationChange(selectedStation)">
      Hae!
    </md-button>
    </div>

    <p class="sub-header medium vr-grey">Junat</p>
    <div class="box shadow">
      <md-autocomplete
        md-search-text-change="filterStations(stationInput)"
        md-search-text="train.number"
        md-selected-item="selectedTrain"
        md-selected-item-change="selectedTrainChange(selectedStation)"
        md-items="train in trains"
        md-item-text="train.name"
        md-min-length="0"
        placeholder="Junan numero">
      <md-item-template>
        <span
          md-highlight-text="stationInput"
          md-highlight-flags="^i">{{station.stationName}}
        </span>
      </md-item-template>
      <md-not-found>
        Asemaa ei löytynyt hakusanalla <b>{{stationInput}}</b>
      </md-not-found>
    </md-autocomplete>
      <md-button class="md-raised" ng-click="tryFetchStopData(train.number)">
        Pysäkkitiedot
      </md-button>
      <md-button class="md-raised" ng-click="tryFetchTrainData(train.number)">
        Kokoonpanotiedot
      </md-button>

    </div>
  </ion-content>
</ion-view>
