<!-- <ion-header-bar align-title="center" class="bar-positive" ng-style="{'background-color': '#57A50B'}">
  <h1 class="title">Live-junat</h1>
</ion-header-bar> -->
<ion-view view-title="Rata">
  <ion-content class="has-header bg-light-grey content">

    <p class="sub-header medium black">Asemat</p>
    <div class="box shadow" style="padding-left: 7px; padding-right:7px">
      <md-autocomplete
        md-search-text-change="filterStations(stationInput)"
        md-search-text="stationInput"
        md-selected-item="selectedStation"
        md-selected-item-change="selectedStationChange(selectedStation)"
        md-items="station in stations"
        md-item-text="station.stationName"
        md-min-length="0"
        placeholder="Aseman nimi">
      <md-item-template>
        <span
          md-highlight-text="stationInput"
          md-highlight-flags="^i">{{station.stationName}}
        </span>
      </md-item-template>
      <md-not-found>
        Asemaa ei löytynyt hakusanalla <b>{{stationInput}}</b>
      </md-not-found>
    </md-autocomplete>
    <div style="float: right; margin-right: -5px">
    <div style="display:block; float:right;">
    <md-button class="md-primary" style="margin-top:10px; margin-bottom:0px;" ng-click="selectStation(selectedStation)">
      Hae
    </md-button>
  </div>
  </div>
    </div>

    <p class="sub-header medium black">Junat</p>
    <div class="box shadow" style="padding-left: 7px; padding-right:7px">
      <md-autocomplete
        md-search-text-change="filterStations(stationInput)"
        md-search-text="train.number"
        md-selected-item="selectedTrain"
        md-selected-item-change="selectedTrainChange(selectedStation)"
        md-items="train in trains"
        md-item-text="train.name"
        md-min-length="0"
        placeholder="Junan numero">
      <md-item-template>
        <span
          md-highlight-text="stationInput"
          md-highlight-flags="^i">{{station.stationName}}
        </span>
      </md-item-template>
      <md-not-found>
        Asemaa ei löytynyt hakusanalla <b>{{stationInput}}</b>
      </md-not-found>
    </md-autocomplete>
    <div style="float:right; margin-right: -7px;">
    <div style="display:block; float:right;">
      <md-button class="md-primary" style="margin-top:10px; margin-bottom:0px; margin-left:-10px" ng-click="tryFetchStopData(train.number)">
        Live-aikataulu
      </md-button>
    </div>
    <div style="display:block; float:right">
      <md-button class="md-primary" style="margin-top:10px; margin-bottom:0px" ng-click="tryFetchTrainData(train.number)">
        Vaunut
      </md-button>
    </div>
  </div>
  </div>
    </div>
  </ion-content>
</ion-view>
