<ion-view view-title="Asemaseuranta">
  <ion-content class="has-header">
  <md-tabs md-stretch-tabs="auto" md-border-bottom="true" md-swipe-content="true" md-dynamic-height="" md-selected="tabIndex">
    <md-tab id="tab1" class="bg-light-grey">
      <md-tab-label>Lähtevät</md-tab-label>
        <md-tab-body class="bg-light-grey">
          <div class="content bg-light-grey" style="padding-top: 8px">
            <!-- Station info -->
            <div class="box shadow" ng-show="departures">
                <p class="large vr-dark-grey">{{stationName | remove: ' asema'}}</p>
                <p class="medium vr-grey">{{departures.length}} junaa lähtee seuraavan kahden tunnin aikana</p>
            </div>

            <!-- Departures -->
            <div ng-show="departures.length > 0" style="padding-bottom: 10px">
              <div ng-repeat="train in departures" style="fade-in-out">
                <div class="box small shadow" style="margin-top: 2px;" ng-click="clickTrain(train.number)">
                    <p class="medium vr-dark-grey neg-margin">
                      {{train.firstStation | remove: ' asema'}} - {{train.lastStation | remove: ' asema'}}
                    </p>
                    <p class="small vr-dark-grey">{{train.name}}-{{train.number}}</p>
                    <p class="vr-dark-grey x-small neg-margin">{{train.departures.locale("fi").fromNow()}}</p>
                    <p class="x-small vr-dark-grey neg-margin">Raiteelta {{train.departureTrack}}</p>
                    <!-- If the stop is cancelled -->
                    <p class="medium vr-grey" ng-show="train.timeTableRows.cancelled">Pysähdys peruttu!</p>
                </div>
              </div>
            </div>
          </div>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>Saapuvat</md-tab-label>
      <md-tab-body>
        <div class="content bg-light-grey" style="padding-top: 8px">
          <!-- Station info -->
          <div class="box small left shadow fade-in-out" ng-show="departures">
              <p class="large vr-dark-grey">{{stationName | remove: ' asema'}}</p>
              <p class="medium vr-grey">{{arrivals.length}} junaa saapuu seuraavan kahden tunnin aikana</p>
          </div>

          <!-- arrivals -->
          <div ng-show="arrivals.length > 0" style="padding-bottom: 10px">
            <div ng-repeat="train in arrivals">
              <div  class="right box small shadow" style="margin-top: 2px;" ng-click="clickTrain(train.number)">
                  <p class="medium vr-dark-grey neg-margin">
                    {{train.firstStation | remove: ' asema'}} - {{train.lastStation | remove: ' asema'}}
                  </p>
                  <p class="small vr-dark-grey">{{train.name}}-{{train.number}}</p>
                  <p class="vr-dark-grey x-small neg-margin">{{train.arrives.locale("fi").fromNow()}}</p>
                  <p class="x-small vr-dark-grey neg-margin">Raiteelle {{train.arrivalTrack}}</p>
                  <!-- If the stop is cancelled -->
                  <p class="medium vr-grey" ng-show="train.timeTableRows.cancelled">Pysähdys peruttu!</p>
              </div>
            </div>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</ion-content>
</ion-view>
