<ion-header-bar align-title="center" class="bar-positive shadow" ng-style="{'background-color': '#57A50B'}">
  <div class="buttons">
    <a class="button icon-left ion-chevron-left button-clear header-button" ui-sref="choose"></a>
  </div>
  <h1 class="title" ng-show="(trainType && trainNumber)">{{trainType}}-{{trainNumber}}</h1>
</ion-header-bar>

<ion-content class="has-header bg-light-grey">
  <!-- Time difference -->
  <div class="box left shadow">
    <div class="boxHeader bg-vr-blue">
      <p class="vr-main-white medium">Junatietoja</p>
    </div>
    <div class="boxContent bg-vr-white">
      <p class="large vr-dark-grey">{{trainType}}-{{trainNumber}}</p>
      <p class="medium vr-grey">Pituus {{length}} metriä</p>
      <p class="medium vr-grey">Huippunopeus {{topSpeed}} km/h</p>

    </div>
  </div>

  <!-- Previous stop -->
  <div ng-show="prevStops.length > 0">
    <div class="box left shadow">
      <div class="boxHeader bg-vr-blue">
        <p class="vr-light-green medium">Vaunutietoa</p>
      </div>
      <div class="boxContent bg-vr-white">
        <p class="vr-dark-grey large">{{prevStops[prevStops.length-1].name | remove: ' asema'}}</h1>
        <p class="vr-dark-grey medium">{{prevStops[prevStops.length-1].actualTime | fromNow}}</h1>
      </div>
    </div>
  </div>

  <!-- Next stops -->
  <div ng-show="nextStops.length > 0" style="padding-bottom: 10px">
    <div ng-show="nextStops.length > 0" ng-repeat="stop in nextStops track by stop.scheduledTime" class="left box shadow">
      <div class="boxHeader bg-vr-main-green">
        <p class="vr-white medium">Tulossa</p>
      </div>
      <div class="boxContent bg-vr-white">
        <p class="large vr-dark-grey">{{stop.name | remove: ' asema'}}</p>
        <p class="medium vertical-padding vr-grey" ng-show="!stop.cancelled">{{stop.liveEstimateTime | fromNow}}</p>
        <p class="medium vr-grey" ng-show="!stop.cancelled">Raide {{stop.commercialTrack}}</p>
        <!-- If the stop is cancelled -->
        <p class="medium vr-grey" ng-show="stop.cancelled">Pysähdys peruttu!</p>
      </div>
    </div>
  </div>
</ion-content>
