<ion-header-bar align-title="center" class="bar-positive shadow" ng-style="{'background-color': '#57A50B'}">
  <div class="buttons">
    <a class="button icon-left ion-chevron-left button-clear header-button" ui-sref="choose"></a>
  </div>
  <h1 class="title" ng-show="(trainType && trainNumber)">{{trainType}}-{{trainNumber}}</h1>
</ion-header-bar>

<ion-content class="has-header bg-light-grey">
  <!-- Train info-->
  <div class="box left shadow">
    <div class="boxHeader bg-vr-blue">
      <p class="vr-main-white medium">Junatietoja</p>
    </div>
    <div ng-show="trainType && trainNumber" class="boxContent bg-vr-white">
      <p class="large vr-dark-grey">{{trainType}}-{{trainNumber}}</p>
      <p class="medium vr-grey" ng-show="length">Pituus {{length}} metriä</p>
      <p class="medium vr-grey" ng-show="topSpeed">Huippunopeus {{topSpeed}} km/h</p>
      <p class="medium vr-grey" ng-show="!topSpeed && !length">Kokoonpanotietoja ei saatavilla tälle päivälle</p>
    </div>
    <div ng-show="!trainType" class="boxContent bg-vr-white">
      <p class="medium vr-dark-grey">Junatietoja ei saatavilla tälle päivälle</p>

    </div>
  </div>

  <!-- Train setup info -->
  <div ng-show="wagonAmount && locomotives">
    <div class="box left shadow">
      <div class="boxHeader bg-vr-blue">
        <p class="vr-main-white medium">Vaunutietoa</p>
      </div>
      <div class="boxContent bg-vr-white">
        <p class="vr-dark-grey large">Vaunuja: {{wagonAmount}}</h1>
        <p class="vr-grey medium small-padding">Vetureita: {{locomotives}}</h1>
      </div>
    </div>
  </div>

  <!-- Special wagons -->
  <div style="padding-bottom: 10px">
    <div ng-repeat="wagon in specialWagons track by wagon.location" class="right box shadow">
      <div class="boxHeader bg-vr-main-green">
        <p class="vr-white medium">Erikoisvaunu</p>
      </div>
      <div class="boxContent bg-vr-white">
        <p class="large vr-dark-grey" ng-show="wagon.catering">Ravintola</p>
        <p class="large vr-dark-grey" ng-show="wagon.luggage">Matkatavara</p>
        <p class="large vr-dark-grey" ng-show="wagon.video">Video</p>
        <p class="large vr-dark-grey" ng-show="wagon.pet">Lemmikki</p>
        <p class="large vr-dark-grey" ng-show="wagon.disabled">Matkatavara</p>
        <p class="large vr-dark-grey" ng-show="wagon.smoking">Tupakointi</p>
        <p class="large vr-dark-grey" ng-show="wagon.playground">Leikki</p>
        <p class="medium vr-grey">Vaunu {{wagon.location}}</p>
      </div>
    </div>
  </div>
</ion-content>
