/*.box.ng-hide-add, .box.ng-hide-remove {
  transition: all linear 0.5s;
}

.box.ng-hide {
  opacity: 0;
}*/

@keyframes fade-in {
  0%{ opacity: 0; }
  100% { opacity: 100; }
}

/*.fade-in-out.ng-show, .fade-in-out .ng-show {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-hide, .fade-in-out .ng-hide {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }*/
