.x-small {
  font-size: 12px;
}
.small {
  font-size: 15px;
}
.medium {
  font-size: 18px;
}
.medium-large {
  font-size: 24px;
  line-height: normal;
}
.large {
  font-size: 30px;
  line-height: normal;
}
.xlarge {
  font-size: 40px;
}
.xxlarge {
  font-size: 50px;
}

.small-padding {
  padding-top: 10px;
}

.subheader-padding {
  padding-top: 6px;
}

.xsmall-padding {
  padding-top: 3px;
}

.neg-margin {
  margin-top: -2px;
  margin-bottom: -2px;
}
