p,h1,h2,h3 {
  margin: 0px;
  padding: 0px;
}

.vr-round {
  border-radius: 5px;
}

.shadow {
  box-shadow: 0px 0px 8px #888888;
}

.vertical-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.box {
  height: 140px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  overflow: hidden;
}

div.small {
  height: 90px;
}

div.big {
  height: 140px;
}

div.right {
  margin-right: 10px;
  margin-left: 40px;
  opacity: 1;
  /*animation-name: right;
  animation-duration: 1.2s;
  transform: translateX(0);
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;*/
}

div.left {
  margin-left: 10px;
  margin-right: 40px;
  opacity: 1;
  /*animation-name: left;
  animation-duration: 1.2s;
  transform: translateX(0);
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;*/
}

div.boxHeader {
  flex:30%;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 10px;
}

div.boxContent:active {
  background-color: #d3d3d3;
}

div.small .boxHeader {
  padding-bottom: 2px;
}

div.big .boxHeader {
  padding-bottom: 5px;
}

div.boxContent {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 70%;
  padding: 10px 20px 10px 20px;
  background-color: white;
  transition: background-color 0.5s linear; /* vendorless fallback */
  -webkit-transition: background-color 0.5s linear; /*safari and chrome */
}
