/* Empty. Add your own CSS if you like */
input[type="number"] {
  font-size:50px;
  height: 60px;
  text-align: center;
}

div.timeDiff {
  height: 120px;
  padding-top: 17px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

p.timeDiff {
  font-size: 35px;
  line-height: 35px;
}

.centered {
  text-align: center;
}
